---
layout: default
title: "front page"
---
<div class="row" id="story">
  <div class="medium-8 medium-centered columns">
    <div class="row">
      <div class="medium-5 columns">
        <img src="img/cover-sm.png" class="cover" alt="cover of the book"/>
      </div>
      <div class="medium-7 columns">
        <h1 class="title">{{ site.title }}</h1>
        <h4 class="subheader">{{ site.description }}</h4>
        <table class="list">
        {% assign pages = site.pages | sort: "num" %}
        {% for pg in pages %}
            <tr>
            {% if pg.layout == 'chap' %}
            <td>{{ pg.num }}</td>
            <td><a href="{{pg.url}}">{{ pg.title }}</a></td>
            <td class="text-right"><small>({{ pg.content | number_of_words }})</small></td>
            {% endif %}
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
